*,
html {
  scroll-behavior: smooth;
}
#logo {
  /* background-color: #fff73f; */
}

body {
  background-color: #ebeff5;
  /*background-color: hsl(39,100%,50%);*/
}
#status-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#total-orders {
  background-color: #4cb4c7;
}

#orders-delivered {
  background-color: #7abecc;
}

#orders-pending {
  background-color: #7cd1c0;
}
