{% extends 'accounts/main.html' %} {% load static %} {% block content %}
<br />
{% load crispy_forms_tags %}

<div class="row">
  <div class="col-md-3">
    <div class="card card-body">
      <hr />
      <h3 style="text-align: center">Add flock</h3>
      <hr />
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-body">
      <form action="" method="POST" autocomplete="off">
        {% csrf_token %} {{ add_flock_form|crispy }}
        <hr />
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary btn-md btn-block">
              <i class="fa fas-database"></i>Submit
            </button>
            <a class="btn btn-warning btn-block btn-md" href="{% url 'flock' %}">
              &#8592; Back</a
            >
          </div>
        </div>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
      </form>
    </div>
  </div>
</div>

{% endblock %}
