{% extends 'accounts/main.html' %} {% load static %} {% block content %}
<br />
{% load crispy_forms_tags %}
<div class="row">
  <div class="col-md-3">
    <div class="card card-body">
      <a class="btn btn-warning" href="{% url 'health_manager' %}">
        &#8592; Back</a
      >
      <hr />
      <h3 style="text-align: center">Mortality</h3>
      <hr />
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-body">
      <form action="" method="POST">
        {% csrf_token %}
        <hr />
        {{add_mortality_form|crispy}}
        <hr />
        <div class="row">
          <div class="col-md-3">
            <button type="submit" class="btn btn-primary">
              <i class="fa fas-database"></i>Submit
            </button>
          </div>
        </div>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
