{% extends 'accounts/main.html' %} {% load crispy_forms_tags %} {% block content %}


<div class="card card-body">
  <h5>STATUS:</h5>
  {% include 'accounts/status.html' %}
</div>
<br />
<div class="row">
  <div class="col">
    <div class="card card-body">
      <form method="get">
        <h4>Search</h4>
        <hr />
        <div class="row">
          <div class="col-md-2">{{myFilter.form.product|as_crispy_field}}</div>
          <div class="col-md-2">{{myFilter.form.status|as_crispy_field}}</div>
          <div class="col-md-2">{{myFilter.form.note|as_crispy_field}}</div>
          <div class="col-md-2">
            {{myFilter.form.order_quantity|as_crispy_field}}
          </div>
          <div class="col-md-2">{{myFilter.form.is_paid|as_crispy_field}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">
            {{myFilter.form.start_date|as_crispy_field}}
          </div>
          <div class="col-md-3">{{myFilter.form.end_date|as_crispy_field}}</div>

          <div class="col-md-2">
            {{myFilter.form.is_accepted|as_crispy_field}}
          </div>
          <div class="col-md-2">
            {{myFilter.form.is_delivered|as_crispy_field}}
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Orders:</h5>
    </div>
    <div class="card card-body">
      <h5>Pending orders</h5>

      <table class="table">
        <tr>
          <th>Customer</th>
          <th>Product</th>
          <th>Date Ordered</th>
          <th>Quantity</th>
          <th>Status</th>
          <th>Delivery status</th>
          <th>Delivery date</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>

        {% for order in pending_list %}
        <tr>
          <td>{{order.customer.name}}</td>
          <td>{{order.product}}</td>
          <td>{{order.date_created}}</td>
          <td>{{order.order_quantity}}</td>
          <td>{{order.status}}</td>
          <td>{{order.is_delivered}}</td>
          <td>{{order.delivery_date}}</td>
          <td>
            <a
              class="btn btn-sm btn-info"
              href="{% url 'update_order' order.id %}"
              >Update</a
            >
          </td>
          <td>
            <a
              class="btn btn-sm btn-danger"
              href="{% url 'delete_order' order.id %}"
              >Delete</a
            >
          </td>
        </tr>

        {% endfor %}
      </table>
    </div>
    <br />
    <div class="card card-body">
      <h5>Orders out for delivery</h5>

      <table class="table">
        <tr>
          <th>Customer</th>
          <th>Product</th>
          <th>Date Ordered</th>
          <th>Quantity</th>
          <th>Status</th>
          <th>Delivery status</th>
          <th>Delivery date</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>

        {% for order in out_for_delivery_list %}
        <tr>
          <td>{{order.customer.name}}</td>
          <td>{{order.product}}</td>
          <td>{{order.date_created}}</td>
          <td>{{order.order_quantity}}</td>
          <td>{{order.status}}</td>
          <td>{{order.is_delivered}}</td>
          <td>{{order.delivery_date}}</td>
          <td>
            <a
              class="btn btn-sm btn-info"
              href="{% url 'update_order' order.id %}"
              >Update</a
            >
          </td>
          <td>
            <a
              class="btn btn-sm btn-danger"
              href="{% url 'delete_order' order.id %}"
              >Delete</a
            >
          </td>
        </tr>

        {% endfor %}
      </table>
    </div>
    <br />
    <div class="card card-body">
      <h5>Delivered orders</h5>
      <table class="table">
        <tr>
          <th>Customer</th>
          <th>Product</th>
          <th>Date Ordered</th>
          <th>Quantity</th>
          <th>Status</th>
          <th>Delivery status</th>
          <th>Delivery date</th>
        </tr>

        {% for order in delivered_list %}
        <tr>
          <td>{{order.customer.name}}</td>
          <td>{{order.product}}</td>
          <td>{{order.date_created}}</td>
          <td>{{order.order_quantity}}</td>
          <td>{{order.status}}</td>
          <td>{{order.is_delivered}}</td>
          <td>{{order.delivery_date}}</td>
        </tr>

        {% endfor %}
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <br />
    <a class="btn btn-warning btn-block" href="{% url 'home' %}">
      &#8592; Back
    </a>
  </div>
</div>

{% endblock content %}
