{% extends 'accounts/home.html' %} {% load static %}{% load crispy_forms_tags %}
{% block content %}
<br />
<div>
  <div class="col-md-6">
    <div class="card card-body">
      <hr />
      <h3 style="text-align: center">Reserve Order</h3>
      <hr />
    </div>
  </div>

  <div class="col-md-6">
    <div class="card card-body">
      <form action="" method="POST">
        {% csrf_token %}
        <hr />

        <div class="row">
          <div class="col">{{form.customer|as_crispy_field}}</div>
        </div>
        <div class="row">
          <div class="col">{{form.product|as_crispy_field}}</div>
        </div>
        <div class="row">
          <div class="col">{{form.order_quantity|as_crispy_field}}</div>
        </div>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        <hr />
        <div
          class="col-md"
          style="justify-content: center; align-items: center; display: flex"
        >
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            <i class="fa fas-database"></i>Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
