{% extends 'accounts/main.html' %} {% block content %}

<br />
{% load crispy_forms_tags %}
<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Customer: {{customer.name}}</h5>
      <hr />

      <a
        class="btn btn-outline-info btn-sm btn-block"
        href="{% url 'create_order' customer.id %}"
        >Place Order</a
      >
      <a
        class="btn btn-outline-danger btn-sm btn-block"
        href="{% url 'delete_customer' customer.id %}"
        >Delete Customer</a
      >
    </div>
  </div>

  <div class="col-md">
    <div class="card card-body">
      <h5>Contact Information</h5>
      <hr />
      <p>Email: {{customer.email}}</p>
      <p>Phone: {{customer.phone}}</p>
    </div>
  </div>

  <div class="col-md">
    <div class="card card-body">
      <h5>Total Orders</h5>
      <hr />
      <h1 style="text-align: center; padding: 10px">{{order_count}}</h1>
    </div>
  </div>
</div>

<br />
<div class="row">
  <div class="col">
    <div class="card card-body">
      <form method="get">
        <h3>Search</h3>
        <hr />
        <div class="row">
          <div class="col-md-2">{{myFilter.form.product|as_crispy_field}}</div>
          <div class="col-md-2">{{myFilter.form.status|as_crispy_field}}</div>
          <div class="col-md-2">{{myFilter.form.note|as_crispy_field}}</div>
          <div class="col-md-2">
            {{myFilter.form.order_quantity|as_crispy_field}}
          </div>
          <div class="col-md-2">{{myFilter.form.is_paid|as_crispy_field}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">
            {{myFilter.form.start_date|as_crispy_field}}
          </div>
          <div class="col-md-3">{{myFilter.form.end_date|as_crispy_field}}</div>

          <div class="col-md-2">
            {{myFilter.form.is_accepted|as_crispy_field}}
          </div>
          <div class="col-md-2">
            {{myFilter.form.is_delivered|as_crispy_field}}
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
<br />

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <table class="table table-sm">
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Date Orderd</th>
          <th>Status</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>
        {% for order in orders %}
        <tr>
          <td>{{order.product}}</td>
          <td>{{order.order_quantity}}</td>
          <td>{{order.date_created}}</td>
          <td>{{order.status}}</td>
          <td>
            <a
              class="btn btn-sm btn-info"
              href="{% url 'update_order' order.id %}"
              >Update</a
            >
          </td>
          <td>
            <a
              class="btn btn-sm btn-danger"
              href="{% url 'delete_order' order.id %}"
              >Delete</a
            >
          </td>
        </tr>

        {% endfor %}
      </table>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <table class="table table-sm">
        <tr>
          <th>Feedback</th>
          <th>Date</th>
        </tr>
        {% for feedback in customer_feedback %}
        <tr>
          <td>{{feedback.feedback_info}}</td>
          <td>{{feedback.feedback_date}}</td>
        </tr>

        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock content %}
