{% extends 'accounts/main.html' %} {% block content %}
<br />

<style>
  #add-flock-title {
    font-weight: bold;
    font-size: 18px;
  }
  #add-flock-content {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
</style>
<div class="row">
  <div class="col-md">
    <div class="card card-body">{%include 'accounts/flock_status.html' %}</div>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Flock</h5>
    </div>
    <div>
      <div class="card card-body">
        <table class="table">
          <tr>
            <th>Batch No</th>
            <th>Breed Type</th>
            <th>Quantity</th>
            <th>Date Bought</th>
            <th>Expired</th>
            <th>Brooder</th>
          </tr>

          {% for i in flock %}
          <tr>
            <td>{{i.batch_no}}</td>
            <td>{{i.flock_breedtype}}</td>
            <td>{{i.flock_quantity}}</td>
            <td>{{i.date_flock_bought}}</td>
            <td>{{i.is_closed}}</td>
            <td>{{i.brooder}}</td>
          </tr>

          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card card-body">
      <p id="add-flock-title">Add flock</p>
      <p id="add-flock-content">Add flock</p>
      <a class="btn btn-info" href="{% url 'add_flock' %}" width="12px"
        >Add flock</a
      >
    </div>
  </div>
</div>
{% endblock %}
