{% extends 'accounts/home.html' %} {% load static %} {% block content %}
<br />
{% load crispy_forms_tags %}

<div class="col-md-9">
  <div
    class="card card-body"
    style="justify-content: center; align-items: center; display: flex"
  >
    <h4 style="text-align: center">
      Give us your feedback. What do you think about our services?
    </h4>
  </div>
</div>
<div class="col-md-9">
  <div class="card card-body">
    <form action="" method="POST">
      {% csrf_token %} {{feedbacks_form|crispy}}
      <hr />
      <div class="row">
        <div class="col-md">
          <button type="submit" class="btn btn-primary btn-block">
            <i class="fa fas-database"></i>Submit Feedback
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
