{% extends 'accounts/home.html' %} {% block content %}

<style>
  .make_order {
    justify-content: center;
    margin: 15px;
    font-size: 45px;
  }

  .order_heading {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
</style>
<div>
  <div>
    <br />
    <h3>Hero section</h3>
    <hr />
  </div>
  <div></div>
</div>
<div class="card card-body">
  <p class="make_order">Reserve your order today.</p>
  <p>We specialize in:</p>
  <p>Broiler</p>
  <p>Layers</p>

  <a
    class="btn btn-primary btn-sm btn-block"
    id="reserve-btn"
    href="{% url 'create_customer_order' customer.id %}"
    >Reserve Order</a
  >
</div>
<br />

{% endblock content %}
